* {
	box-sizing: border-box
}

img {
	max-width: 100%;
	height: auto;
}

/* Basis styles */

html {
	color: #222;
	font-size: 0.9em;
	line-height: 1.4;
	font-family: 'Open sans', sans-serif;
	font-weight: normal;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

@font-face {
	font-family: 'neogreyregular';
	src: url('fonts/neogray/neogreyregular-webfont.woff2') format('woff2'),
	url('fonts/neogray/neogreyregular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

h1 {
	font-family: 'Open sans', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 2em;
}

h2 {
	font-family: 'Open sans', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1.5em;
}

h3 {
	font-family: 'Open sans', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1.2em;
}

h4 {
	font-family: 'Open sans', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1em;
}

a {
	text-decoration: none;
	color: #222;
	font-weight: bold;
}

a:link {
	text-decoration: none;
	color: #222;
	font-weight: bold;
}

a:hover {
	color: #a2c037;
	transition: 0.5s;
}

a:active {
	color: #222;
	transition: 0.5s;
}

a:visited {
	text-decoration: none;
	color: #222;

}

.wrapper {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 2em 2em 2em 2em;
}

.banner_wrapper {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 0em 2em 0em 2em;
}

.theme_green {
	background-color: #a2c037;
}

.theme_gray {
	background-color: #e3e3e2;
}

.theme_gray_dark {
	background-color: #636363;
}

header {
	width: 100%;
	overflow-x: hidden;
	padding: 0 0 0.75em;
}

header h1 {
	font-family: 'neogreyregular', sans-serif;
	color: #fff;
	font-size: 2em;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	margin: 0;
}

header h2 {
	font-family: 'Open sans', sans-serif;
	color: #fff;
	font-size: 0.8em;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin: 0;
	padding: 0 0 0;
}

header .row_icon {
	display: none;
}

nav .row_icon {
	display: none;
}

nav ul {
	display: inline-flex;
	justify-content: flex-start;
	flex-direction: column;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav li {
	font-family: 'Open sans', sans-serif;
	flex-wrap: wrap;
	flex-basis: 100%;
	margin: 0 2em 1em 0;
	font-size: 0.9em;
	text-transform: uppercase;
}

nav li.nav_home {
	background: url('images/nav_home.svg') no-repeat left top;
	padding-left: 1.75em;
	height: 1.4em;
}

nav li.nav_cv {
	background: url('images/nav_cv.svg') no-repeat left top;
	padding-left: 1.75em;
	height: 1.4em;
}

nav li.nav_portfolio {
	background: url('images/nav_portfolio.svg') no-repeat left top;
	padding-left: 1.75em;
	height: 1.4em;
}

nav a {
	text-decoration: none;
	color: #000;
}

nav a:hover {
	color: #a2c037;
	transition: 0.5s;
}

nav li.nav_home:hover {
	color: #a2c037;
	background: url('images/nav_home_hover.svg') no-repeat left top;
	padding-left: 1.75em;
	transition: 0.5s;
}

nav li.nav_cv:hover {
	color: #a2c037;
	background: url('images/nav_cv_hover.svg') no-repeat left top;
	padding-left: 1.75em;
	transition: 0.5s;
}

nav li.nav_portfolio:hover {
	color: #a2c037;
	background: url('images/nav_portfolio_hover.svg') no-repeat left top;
	padding-left: 1.75em;
	transition: 0.5s;
}

.nobreak {
	white-space: nowrap;
}

main .pagetitle {
	margin: 0;
}

main .subtitle {
	margin: 0;
}

main ul {
	margin: 0;
	padding-left: 1.5em;
}

main .banner {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 64em;
}

main .banner_1 {
	background-color: #adcfd9;
}

main .opgave {
	margin: 0;
	font-weight: bold;
}

.row {
	margin-left: calc(-50vw + 50%);
	margin-right: calc(-50vw + 50%);
	padding: 0 0 1em;
}

.banner_row {
	margin-left: calc(-50vw + 50%);
	margin-right: calc(-50vw + 50%);
	padding: 0 0 0em;
}

.column_wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.column {
	flex-grow: 1;
	flex-basis: 14em;
	padding: 0 2em 2em 0;
}

.column_wide {
	flex-grow: 2;
	flex-basis: 25em;
	padding: 0 5em 2em 0;
}

.column_narrow {
	flex-grow: 1;
	flex-basis: 15em;
	padding: 0 2em 2em 0;
}

footer {
	font-family: "open sans";
	color: #fff;
	text-transform: uppercase;
	font-size: 1em;
}

footer p {
	margin: 2.5em 0 2.5em;
}

.hs-responsive-download-video {
	margin: 20px;
	position: relative;
	width: 100%;
	height: 100%;
	padding-top: 25px;
	padding-bottom: 56.25%;
	margin-bottom: 20px;
	background-color: #000;
}

.hs-responsive-download-video video {
	position: absolute;
	width: 100% !important;
	height: 100% !important;
}

/**----------- Media queries ------------------**/

/* ===== == = === 30em (480px) === = == ===== */

@media only screen and (min-width: 30em) and (max-width: 47.99999em) {

	.wrapper {
		min-width: 30em;
		max-width: 47.49999em;
		padding: 1em 1em 1em 1.4em;
	}

	.banner_wrapper {
		padding: 0em 2em 0em 2em;
	}

	header {
		padding: 0 0 2em;
	}

	header h1 {
		font-size: 3em;
	}

	header h2 {
		font-size: 1em;
		padding: 0 0 1em;
	}

	nav ul {
		flex-direction: row;
	}

	nav li {
		font-size: 1em;
	}

}

/* ===== == = === 48em (768px) === = == ===== */

@media only screen and (min-width: 48em) {

	.wrapper {
		width: 48em;
		padding: 1em 0 1em 7em;
	}

	.banner_wrapper {
		padding: 0em 2em 0em 2em;
	}

	header {
		padding: 0 0 2em;
	}

	header .row_icon {
		position: absolute;
		top: 1em;
		left: 1em;
		width: 3em;
		display: block;
	}
	nav .row_icon {
		position: absolute;
		top: 1em;
		left: 1em;
		width: 3em;
		display: block;
	}

	header h1 {
		font-size: 3em;
	}

	header h2 {
		font-size: 1em;
		padding: 0 0 1.5em;
	}

	nav ul {
		flex-direction: row;
	}

	nav ul {
		list-style-type: none;
		padding: 0;
		margin: 0.75em 0 0;
	}

	nav li {
		font-size: 1em;
	}
}


/* ===== == = === 64em (1080px) === = == ===== */

@media only screen and (min-width: 64em) {

	.wrapper {
		width: 64em;
		padding: 1em 0 1em 10em;
	}

	.banner_wrapper {
		padding: 0em 2em 0em 2em;
	}

	header h1 {
		font-size: 4.5em;
	}

	header h2 {
		font-size: 1.25em;
		padding: 0 0 2em;
	}

	nav li {
		font-size: 1em;
	}
}


/* ===== == = === 80em (1240px) === = == ===== */

@media only screen and (min-width: 80em) {

	.wrapper {
		width: 80em;
		padding: 1em 0 1em 10em;
	}

	.banner_wrapper {
		padding: 0em 2em 0em 2em;
	}

	header h1 {
		font-size: 4.5em;
	}

	header h2 {
		font-size: 1.25em;
		padding: 0 0 2em;
	}

	nav li {
		font-size: 1em;
	}
}
